.BarterLogin {
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

    .BarterLogin h1 {
        text-align: center;
        font-size: 48px;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

.BarterLogo img {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1rem;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.Formulario-de-entrada {
    margin-bottom: 20px;
}

    .Formulario-de-entrada label {
        font-size: 18px;
        color: #000000;
        margin-bottom: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

.FormatoTexto {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

    .Botones {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 10px;
    font-size: 20px;
    background-color: #a3a38a65;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .Botones:hover {
        background-color: #a3a38a;
        color: rgb(255, 255, 255);
        transition: background-color 0.2s ease-in;
    }

.ContraseñaOlvidada {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.BarterSlogan {
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    color: #666;
}

.Invitado {
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    color: #000000;
}

body {
    background-color: rgba(75, 67, 67, 0.164);
}
